.listcontainer{
    width: 100%;
    display: block;
}
.container-item__greeting p{
    margin: 0 auto;
    color: #2c3e50;
    font-size: 2rem;
    font-weight: 500;
}
.container-item{
    display: flex;
    flex-direction: column;
}
.container-item__text{
    width: 80%;
    margin: 10px auto;
}
.container-item__text p{
    text-align: justify;
}
.container-item__greeting__text{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.container-item__greeting__text .price{
    width: 100%;
    font-size: 1.2rem;
    color: #2ecc71;
    margin-bottom: 10px;
    text-align: center;
    border-bottom: 1px solid #7f8c8d;
}
.container-item__greeting__text .description{
    font-size: 1rem;
    text-align: center;
}
