.portal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2c3e5067;
}
.portal-content{
    position: relative;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    box-shadow: 2px 2px 10px #bdc3c7;
    z-index: 10;
    width: 80%;
}
.btn-close{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #c0392b;
    outline: none;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.btn-close .fa-times{
    color: #fff;
    font-size: 1.6rem;
}